.App {
  position: relative;
  width: 60%;
  margin: 0 auto;
  background-color: black;
}

.All {
  background-color: grey;
  margin-left: 5%;
}

.Full {
  float: left;
  width: 90%;
  
}

.Half {
  float: left;
  width: 45%;

}

.Image {
  max-width: 100%;
  height: auto;
}