/* Container */
.Container {
  position: relative;
  width: 70%;
  /* This is here, because otherwise the container div would have a height of 0.
  The logobox wouldnt stick then anymore.
  A hacky "height: 1000px;" also did the trick but seemed ugly.*/
  display: inline-block;
  left: 10%;
}

/* Outer-0 */
.Outer-0-Logobox {
  float: left;
  width: 14.29%;
  background-color: rgb(104, 105, 114);
  border-right: 6px solid darkgrey;
  box-sizing: border-box;
  position: sticky;
  position: -webkit-sticky;
  top: 130px;
}

.Outer-0 {
  float: left;
  width: 84.71%;
  background-color: rgb(104, 105, 114);
}

/* Block-1 */

img.Block-1-Type-Logobox-Image {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

p.Block-1-Type-Logobox-Text {
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
}

.Block-1 {
  float: left;
  height: auto;
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-right: 2.5%;
}

.Block-1-Full {
  width: 95%;
}

.Block-1-Half {
  width: 45%;
}

.Block-1-Type-Header {
  border-left: 6px solid darkgray;
  box-sizing: border-box;
  background-color: white;
}

.Block-1-Type-Offers {
}

/* Element-2 */

p.Element-2-Type-Header-Text {
  float: left;
  margin-top: 2.5%;
  margin-right: 2.5%;
  width: 67.5%;
}

img.Element-2-Type-Header-Image {
  width: 25%;
  height: auto;
  float: left;
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-right: 2.5%;
}

.Element-2-Type-Skill {
  border-left: 6px solid darkgray;
  box-sizing: border-box;
  margin-right: 2.63%;
  margin-bottom: 2.5%;
  background-color: white;
  width: 31.58%;
  float: left;
  height: 30px;
}

.Element-2-Type-Skill:nth-child(3n + 3) {
  margin-right: 0;
}

@media only screen and (max-width: 1300px) {
  p.Element-2-Type-Header-Text {
    float: none;
    width: 95%;
    margin-left: 2.5%;
  }

  .Element-2-Type-Skill {
    margin-right: 2.63%;
    width: 48.68%;
  }

  .Element-2-Type-Skill:nth-child(3n + 3) {
    margin-right: 2.63%;
  }

  .Element-2-Type-Skill:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 840px) {
  img.Element-2-Type-Header-Image {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
  }

  p.Element-2-Type-Header-Text {
    margin-top: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
  }

  .Element-2-Type-Skill {
    margin-right: 0;
    margin-bottom: 2.5%;
    width: 100%;
  }
}

/* Subelem-3 */

.Subelem-3-Type-Icon {
  float: left;
  margin-left: 2.5%;
  height: 30px;
}

.Subelem-3-Type-Icon-Text {
  float: right;
  margin-right: 2.5%;
  height: 30px;
}

/* Subelem-4 */

.Subelem-4-Type-Icon {
  margin-top: 7px;
}

p.Subelem-4-Type-Icon-Text {
  display: inline;
  vertical-align: middle;
}
