.App {
  position: absolute;
  width: 60%;
  left: 20%;
  background-color: black;
}

.All {
  background-color: grey;
  top: 1%;
  float: left;
  height: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2.5%;
}

.Full {
  width: 95%;
}

.Half {
  width: 45%;
}

.Image {
  max-width: 100%;
  height: auto;
}
